.learn-main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #715E91;
    height: 100vh;

}
.test-main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test-main img{
    height: 300px;
    margin: 20px 0;
}
.learn-main h2 {
    font-size: 20px;
}

.test-main p{
    color: #ddd8e5;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.learn-main input {
    width: 150px;
}
.learn-main button {
    width: 120px;
}

@media (min-width: 700px) { 
    .test-main{
        width: 60%;
        height: 400px;
        box-shadow: 0 0px 70px 0 rgba(0,0,0,0.34),0 17px 50px 0 rgba(0,0,0,0.19);
    }
}