.study-display-container {
    padding: 40px;
    width: 90%;
    display: inline-block;
}

.qcontainer{
    background-color: rgb(0, 0, 0, 0.6);
    margin: 5px auto;
    width: 80%;
    text-align: center;

    /* display: inline-block; */
}

.qcontainer p {
    color: white;
    padding-top: 10px ;
}
.qcontainer img {
    width: 320px;
    padding: 20px 0;
}

/* .qcontainer img {
    margin: 0 2px;
    width: 100%;
    height:auto;
} */

@media (min-width: 700px) { }